@page
@model Assignment3.Pages.WaiterModel
@{
	ViewData["Title"] = "Waiter";
}

<div class="text-center">
	<h1 class="display-4">Waiter</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button id="hej">bruh</button>

<form method="post" asp-page="Waiter" onsubmit="subb()">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="form-group">
		<label asp-for="CheckIn.RoomNumber">Room Number</label>
		<input type="text" class="form-control" id="RoomNumber" name="RoomNumber" placeholder="Enter Room Number">
		<small id="RoomNumber" class="form-text text-muted">Please enter the Room Number</small>
		<span asp-validation-for="CheckIn.RoomNumber" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label asp-for="CheckIn.Adults">Adults</label>
		<input type="text" class="form-control" id="Adults" name="Adults" placeholder="Enter Adults">
		<small id="Adults" class="form-text text-muted">Please enter the Number of Adults</small>
		<span asp-validation-for="CheckIn.Adults" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="CheckIn.Children">Children</label>
		<input type="text" class="form-control" id="Children" name="Children" placeholder="Enter Children">
		<small id="Children" class="form-text text-muted">Please enter the Number of Children</small>
		<span asp-validation-for="CheckIn.Children" class="text-danger"></span>


	</div>

	<button type="submit" class="btn btn-primary">Submit</button>

	<p></p>

</form>